__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

.venv/
venv/
ENV/

build/
dist/

artifacts/runs/
!artifacts/samples/

pip-wheel-metadata/

bin/
obj/
*.user
*.suo
*.cache
*.log
.vs/

.idea/
.vscode/

.DS_Store
Thumbs.db

*.exe
*.dll
*.zip

*.png
*.svg

.env
